<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bill.dao.db.auto.ClassificationMapper">
  <resultMap id="BaseResultMap" type="com.bill.model.entity.auto.Classification">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="classification" jdbcType="CHAR" property="classification" />
    <result column="classification_name" jdbcType="CHAR" property="classificationName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, classification, classification_name, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from classification
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from classification
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bill.model.entity.auto.Classification">
    insert into classification (id, classification, classification_name, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{classification,jdbcType=CHAR}, #{classificationName,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bill.model.entity.auto.Classification">
    insert into classification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="classification != null">
        classification,
      </if>
      <if test="classificationName != null">
        classification_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="classification != null">
        #{classification,jdbcType=CHAR},
      </if>
      <if test="classificationName != null">
        #{classificationName,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bill.model.entity.auto.Classification">
    update classification
    <set>
      <if test="classification != null">
        classification = #{classification,jdbcType=CHAR},
      </if>
      <if test="classificationName != null">
        classification_name = #{classificationName,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bill.model.entity.auto.Classification">
    update classification
    set classification = #{classification,jdbcType=CHAR},
      classification_name = #{classificationName,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>