<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bill.dao.db.auto.ProductMapper">
  <resultMap id="BaseResultMap" type="com.bill.model.entity.auto.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_name" jdbcType="CHAR" property="productName" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="total_sold" jdbcType="INTEGER" property="totalSold" />
    <result column="price" jdbcType="BIGINT" property="price" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="classification_id" jdbcType="INTEGER" property="classificationId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_name, total, total_sold, price, create_time, update_time, classification_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bill.model.entity.auto.Product">
    insert into product (id, product_name, total, 
      total_sold, price, create_time, 
      update_time, classification_id)
    values (#{id,jdbcType=INTEGER}, #{productName,jdbcType=CHAR}, #{total,jdbcType=INTEGER}, 
      #{totalSold,jdbcType=INTEGER}, #{price,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{classificationId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bill.model.entity.auto.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="totalSold != null">
        total_sold,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="classificationId != null">
        classification_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=CHAR},
      </if>
      <if test="total != null">
        #{total,jdbcType=INTEGER},
      </if>
      <if test="totalSold != null">
        #{totalSold,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="classificationId != null">
        #{classificationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bill.model.entity.auto.Product">
    update product
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=CHAR},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="totalSold != null">
        total_sold = #{totalSold,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="classificationId != null">
        classification_id = #{classificationId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bill.model.entity.auto.Product">
    update product
    set product_name = #{productName,jdbcType=CHAR},
      total = #{total,jdbcType=INTEGER},
      total_sold = #{totalSold,jdbcType=INTEGER},
      price = #{price,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      classification_id = #{classificationId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>