<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bill.dao.db.ext.MoneyMemoExtMapper">

  <select id="listMoneyMemo" parameterType="com.bill.model.vo.param.MoneyMemoParamVO" resultType="com.bill.model.po.ext.MoneyMemoExt">
    select member_id, sum(amount) as amountSum, money_type, description from money_memo
    where member_id = #{memberId}
    and create_time between #{startTime} and #{endTime}
    and is_delete = 0 GROUP BY description,money_type
  </select>

</mapper>