<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bill.dao.db.ext.ProductBillExtMapper">

  <select id="listProductBill" resultType="com.bill.model.po.auto.ProductBill">
    SELECT assets_remark, rights_remark, create_time ,classification_id
    FROM product_bill
    WHERE member_id = #{memberId} AND create_time BETWEEN #{startTime} AND #{endTime}
    <if test="classificationId != null">
      AND classification_id = #{classificationId}
    </if>
    ORDER BY create_time DESC
  </select>

  <select id="listProductBillAndDate" resultType="com.bill.model.po.auto.ProductBill">
    SELECT classification_id, assets_money, rights_money
    FROM product_bill
    WHERE member_id = #{memberId}
    AND create_time BETWEEN #{startTime} AND #{endTime}
  </select>
</mapper>