<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bill.dao.db.ext.ProductExtMapper">
    <sql id="BaseColumnList">
        id, product_name, total, total_sold, price, create_time, update_time, classification_id
    </sql>

    <update id="soldProduct">
        UPDATE product
        SET total = total - #{total} , total_sold = total_sold + #{total}
        WHERE id = #{id}
    </update>
    
    <select id="listProduct" resultType="com.bill.model.po.auto.Product">
      SELECT <include refid="BaseColumnList"></include>
      FROM product
      ORDER BY create_time DESC
    </select>
</mapper>